

.Intro
{
	background: rgb(52, 75, 112);
}

.Avatar{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 40%;
  margin-right: auto;
  margin-top: 20px;
  
}

.Name{
	
	margin-left: 41%;
  margin-right: auto;
  width:300px;
  font-family: Snell Roundhand, cursive;
	/*font-family: "sans-serif", Courier, monospace;*/
	font-weight: 100%;
	color: white;
	
}

.Link1
{
	
	padding-left:25px;
	width: 25px;
  height: 25px;
  margin-right: auto;
  
}
.Link2
{
	
	padding-left:25px;
	width: 25px;
  height: 25px;
  margin-right: auto;
  
}
.Link3
{
	
	padding-left:25px;
	width: 25px;
  height: 25px;
  margin-right: auto;
  
}

.Social
{
	margin-left: 43%;
  margin-right: auto;
	width:200px;
	height:50px;
}

.Resume
{
	
  margin-left: 39%;
  margin-right: auto;
  width: 300px;
  color: white;
  background: rgb(18, 227, 29);
  border-radius: 5px;
	text-align: center;
}

a
{
	text-decoration: none;
}
a:visited
{
	color: white;
}

.Resume_h
{
	font-family: "calibri";
	font-weight: 80%;
}
.Event
{
	font-family: "calibri";
	position: relative;
}

.p
{
	font-family: "sans-serif", Courier, monospace;
}

.TimelineHeader
{
	margin-left: 0%;
	top: 10px;
	text-align: center;
	font-family: "sans-serif", Courier, monospace;
	background: rgba(82, 162, 199);
	width: max-width;
	color: white;
}
.Timeline
{
	margin-top: 0px;
	margin-left: 0%;
	position: relative;
	/*margin: 25px auto;*/
	width: max-width;
	background: rgba(20, 83, 92);
}		

.Timeline:before  /* line draw */
{
	content:'';
	position:absolute;
	left:50%;
	width: 2px;
	height:100%;
	background:#c5c5c5;
}

.Timeline ul
{
	margin: 0;
	padding: 0;
}

.Timeline ul li
{
	list-style: none;
	position: relative;
	width: 50%;
	padding: 20px 40px;
	box-sizing: border-box;
}

.Timeline ul li:nth-child(odd)
{
	float:left;
	text-align:right;
	clear:both;
	color: white;
}



.Timeline ul li:nth-child(even)
{
	
	float:right;
	text-align:left;
	clear:both;
	color: white;
}

.Event
{
	padding-bottom: 0px;
	position: static;
}

.Timeline ul li:nth-child(odd):before /*for dot */
{
	content:'';
	position:absolute;
	top:44px;
	right:-6px;
	width:10px;
	height:10px;
	background: rgba(233,33,99,1);
	border-radius:50%;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
	
}

.Timeline ul li:nth-child(even):before /*for dot */
{
	content:'';
	position:absolute;
	top:44px;
	left:-4px;
	width:10px;
	height:10px;
	background: rgba(233,33,99,1);
	border-radius:50%;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}

.Timeline ul li .Event h3
{
	color: rgba(233,33,99,1);
}

.Timeline ul li p
{
	margin:10px 0 0;
	padding: 0px;
}

.Timeline ul li .Time h4
{
	margin:0px;
	padding: 0px;
}



.Timeline ul li:nth-child(odd) .Time  /* give space before .Time*/
{
	position: absolute;
	top: 32px;
	right:-160px;
	margin-left:25px;
	padding: 8px 16px;
	background: rgba(233,33,99,1);
	border-radius: 18px;
	color: white;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}

.Timeline ul li:nth-child(even) .Time  /* give space before .Time*/
{
	position: absolute;
	top: 32px;
	left:-160px;
	margin:0;
	padding: 8px 16px;
	background: rgba(233,33,99,1);
	border-radius: 18px;
	color: white;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}

.Timeline ul li:nth-child(1) .Time  /* give space before .Time*/
{
	position: absolute;
	top: 32px;
	right:-245px;
	margin-left:25px;
	padding: 8px 16px;
	background: rgba(233,33,99,1);
	border-radius: 18px;
	color: white;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.2);

}

.Timeline ul li:nth-child(3) .Time  /* give space before .Time*/
{
	position: absolute;
	top: 32px;
	right:-300px;
	margin-left:25px;
	padding: 8px 16px;
	background: rgba(233,33,99,1);
	border-radius: 18px;
	color: white;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}

.Timeline ul li:nth-child(2) .Time  /* give space before .Time*/
{
	position: absolute;
	top: 32px;
	left:-345px;
	margin-left:25px;
	padding: 8px 16px;
	background: rgba(233,33,99,1);
	border-radius: 18px;
	color: white;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}

.Timeline ul li:nth-child(4) .Time  /* give space before .Time*/
{
	position: absolute;
	top: 32px;
	left:-300px;
	margin-left:25px;
	padding: 8px 16px;
	background: rgba(233,33,99,1);
	border-radius: 18px;
	color: white;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}




.Time
{
	font-family: "sans-serif", Courier, monospace;
}


.Interests
{
	text-align: center;
}

.Interest_Font
{
	color: white;
	font-family: calibri;
	
}

p.Interest
{
	padding-top: 0px;
}


.Sachin
{
	text-align: center;
	color: black;
	font-family: Snell Roundhand, cursive;
	/*font-family: "sans-serif", Courier, monospace;*/
}

.Tend
{
	text-align: right;
	color: black;
	font-family: Snell Roundhand, cursive;
	/*font-family: "sans-serif", Courier, monospace;*/
}

.Quote
{
	width: 400px;
	
	margin-left: 34%;
	background: white;
}


.QuoteHeader
{
	color: black;
	text-align: center
}
